#masthead {
	background: #FFF;
}

.site-branding {
	margin-bottom: 1.25rem;
}

.site-title {
	font-size: 3rem;
	margin: 0;
}

.site-description {
	margin: 0;
}

.main-navigation {
	background: #FFFFFF;

	#site-navigation {
		background: #FFFFFF;
	}
}

.main-navigation ul {
	margin: 0;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background: #FFFFFF;
  	color: #000000;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background: #CCCCCC;
  	color: #FFFFFF;
}

.top-bar-section li.active:not(.has-form) a:not(.button), .top-bar-section li.active:not(.has-form) a:not(.button):hover {
	background: #CCCCCC;
  	color: #FFFFFF;	
}

nav.tab-bar {
	background: #000000
}

@media only screen and (min-width: 40.063em) {
	#masthead {
		margin-top: 1rem;
	}

}