#masthead {
	background: #FFF;
	margin-top: 1rem;
}

.site-branding {
	.container {
	    height: 209px;
	    max-height: 209px;
	}

	.stripe {
	    height: 11.1%;
	    width: 100%; 
		z-index: 1;
	}

	.stripe:nth-child(odd) {
	    background: black;
	    position: relative;
	    display:none;
	}
}

.site-header {
	z-index: 2;
	position: relative;
}

.site-title {
	font-size: 3rem;
	margin: 0;
}

.site-description {
	margin: 0;
}

.main-navigation {
	background: #FFFFFF;

	#site-navigation {
		background: #FFFFFF;
	}
}

.main-navigation ul {
	margin: 0;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background: #FFFFFF;
  	color: #000000;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background: #CCCCCC;
  	color: #FFFFFF;
}

.top-bar-section li.active:not(.has-form) a:not(.button), .top-bar-section li.active:not(.has-form) a:not(.button):hover {
	background: #CCCCCC;
  	color: #FFFFFF;	
}

nav.tab-bar {
	background: #000000
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slideIn {
    from {left: -100%;}
    to {left: 0px;}
}

@keyframes slideIn {
    from {left: -100%;}
    to {left: 0px;}
}

@media only screen and (min-width: 40.063em) {
	#masthead {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

}