#masthead {
	background: #FFF;
}

.site-branding {
	margin-bottom: 1.25rem;
}

.site-title {
	font-size: 3rem;
	margin: 0;
}

.site-description {
	margin: 0;
}

.main-navigation {
	background: #000000;

	#site-navigation {
		background: #000000;
	}
}

.main-navigation ul {
	margin: 0;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background: #000000;
  	color: #FFFFFF;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background: #FFFFFF;
  	color: #000000;
}
